@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/*nav bar*/

.navbar {

    color: red;
    position: fixed;
    padding: 10px;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.navright {
    float: left;
    display: block;
    padding: 10px;
    font-size: 20px;
    padding-left: 20px;
}

.navleft {
    float: right;
    padding: 15px;
    padding-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: red;
    padding: 10px;
}

b {
    color: red;
}

.navbar a:hover {
    background-color: white;

}

body {
    overflow: hidden;
    background-image: url(../68110.gif);
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



#content {

    color: white;
    font-size: 20px;
    padding-bottom: 100px;

    margin: auto;
    padding-top: 200px;
}

.para1 {
    color: white;
    font-size: 60px;
    margin: auto;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 120px;
}


/*footer*/

.footer {


position: fixed;
bottom: 0;
width: 100%;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: red;
}