@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/*nav bar*/

.navbar {
    overflow: hidden;
 
    background-color: black;
    position: fixed;
    padding: 10px;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    
}

.navbar a {
    float: right;
   display: block; 
    color: white;
    text-align: center;
    padding: 10px;
    margin-right: px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
}
body {
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-image: url(../zilli2/68110.gif);
    background-size: cover;
}

.header {
    color: red;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    padding-left: 50px;
    padding-top: 70px;
}

#content {   
    
    color: red;
      font-size: 20px;
    padding-bottom: 100px;
    width: 800px;
    margin: auto;
    padding-top: 20px;
}

.para1 {
    color: red;
    font-size: 60px;
    margin: auto;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 100px;
}


/*footer*/

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
}


