@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    background-image: url(../zilli2/68110.gif);
    background-size: cover;
}

.main {
    color: red;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 10px;
    padding-top: 40px;
}

.content {
    color: white;
    font-size: 60px;
    margin: auto;
    text-align: center;
    padding-bottom: 300px;
}

.para1 {
    color: white;
    font-size: 20px;
    text-shadow: none;
    padding-bottom: 100px;
    width: 400px;
    margin: auto;
    padding-top: 20px;
}


/*footer*/

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
}


/*nav bar*/

.navbar {
    overflow: hidden;
    transform: rotate(-180deg);
    background-color: black;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.navbar a {
    float: right;
    transform: rotate(180deg);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
}